.badge{
    height: 5rem;
    width: 5rem;
    position: relative;
}

.badge img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.badge-status div{
    height: 1.2rem;
    width: 1.2rem;
    position: absolute;
    right: 0;
    bottom: 8%;
    border: 3px solid white;
    border-radius: 50%;
}

.status__online{
    background-color: green;
}

.status__offline{
    background-color: red;
}
