.toast-message {
    visibility: hidden;
    background-color: rgb(235, 232, 232);
    color: #333;
    text-align: center;
    padding: 0.2rem 1rem;
    position: fixed;
    z-index: 1;
    top: 15%;
    right: 1%;
    border-left: 7px solid rgb(130, 164, 238);
    border-radius: 0.6rem;
  }

  .show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  @keyframes fadein {
    from {
      right: 0;
      opacity: 0;
    }
    to {
      right: 0.6rem;
      opacity: 1;
    }
  }

  @keyframes fadeout {
    from {
      right: 0.6rem;
      opacity: 1;
    }
    to {
      right: 0;
      opacity: 0;
    }
  }